
.section {
  padding: 4px 12px;
  padding-bottom: 12px;
}

.notification {
  padding: 12px 12px;
}

.block {
  padding: 6px;
  left: 12%;
  width: 88%;
}

.blockNow {
  width: 90%;
  left: 10%;
}

.scheduleWrap {
  height: 88vh;
}

.searchInput{
  /*max-width: 150px;*/
  width: 150px !important;
}


.nav-center {
  margin-left: initial;
}


.pagination{
  margin-left: initial;
  margin-right: initial;
}
