<nav class="nav" style="{{#scheduleColor timeSchedule}} {{/scheduleColor}}">
  <div class="container">
    <div class="nav-left">
      <h1 class="title nav-item is-tab"><strong>LNUroom</strong></h1>

    </div>
    <!--<div class="nav-center">
      <div class="nav-item is-tab control is-expanded has-addons is-hidden-mobile search">
        <input class="input searchInput" type="text" placeholder="Search room">
        <button class="button">
          Search
        </button>
      </div>
    </div>-->
    <!--<div class="nav-right">
      <div class="nav-item is-tab">
        <label class="checkbox">
            OPTIONS
        </label>
    </div>
  </div>-->
</nav>
