<nav class="nav">
  <div class="container">
    <div class="nav-left is-hidden-mobile">
      <div class="nav-item is-tab">
        <div class="title "><strong>LNUroom</strong></div>
      </div>
    </div>
    <div class="nav-center">
      <div id="searchHolder" class="nav-item is-tab control is-expanded has-addons search">
        {{> search}}
      </div>
    </div>
    <div class="nav-right is-hidden-mobile">
      <div class="nav-item is-tab">
        {{#if success}}
          {{> pagination}}
        {{/if}}
    </div>
  </div>
</nav>
