<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.0/css/bulma.min.css" rel="stylesheet">
  <title>404 {{ searchParam }}</title>
</head>
<body>
  <section class="hero is-warning is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          404 :(
        </h1>
        <h2 class="subtitle">
          room not found
        </h2>
      </div>
    </div>
  </section>
</body>
</html>
